<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Hello World</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="ind.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/v4-shims.min.js"></script>
    <style>
        audio {
            margin: 20px auto;
            width: 300px;
            height: 40px;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        
        audio::-webkit-media-controls-panel {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1 style="position: relative; z-index: 2;">!!沒錯!!</h1>
        <img src="/static/Ditto Watching GIF.gif">
    </div>

    <div class="w3-container w3-center">
        <audio id="bgMusic" loop preload="auto" controls>
            <source src="/bgm/MoonsideHowBGM.mp3" type="audio/mpeg">
            您的瀏覽器不支援音訊播放元素。
        </audio>
        <audio id="bgMusic" loop preload="auto" controls>
            <source src="https://t1-py313-e0ffg8gzdfahakd9.canadacentral-01.azurewebsites.net/MoonsideHowBGM.mp3" type="audio/mpeg">
            您的瀏覽器不支援音訊播放元素。
        </audio>
        <video width="320" height="240" controls>
              <source src="./MoonsideHowBGM.mov" type="video/quicktime">
              您的浏览器不支持视频标签。
        </video>

        <div style="margin: 20px auto;">
            <iframe width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/q8jE-xPd_oQ?autoplay=1&mute=0&volume=200" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</body>
</html>
